spring:
  application.name: "kiting-chat-ai-host"
  datasource:
    url: jdbc:postgresql://localhost:5432/ragdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true
  ai.ollama:
    base-url: http://localhost:11431
    chat.model: gemma3:4b-it-q4_K_M

chat:
  memory:
    max-messages: 10
